button{
    background-color: #ffa94d;
    border: 0;
    font-weight: 700;
}
.friendName.selected {
    background-color: #fff4e6;
    border-radius: 10px;
  }
.selectbtn{
    background-color: #ffa94d;
    border-radius: 7px;
    color: #343a40;
    padding: .8rem 1.2rem;
    font-weight: 500;
}
.selectbtn:hover{
    background-color: #ff922b;
}

/* App.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  margin: 0;
}


